@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    line-height: 25px;
    background-color: #fff5fa;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #0a0b0b #fff5fa;
}

::selection {
    background-color: #b399c8;
    color: #585858;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.flashing {
    animation: flash 3s infinite;
}

.apexcharts-toolbar {
    background-color: #1e1e1e !important;
    border-radius: 6px;
}

.apexcharts-toolbar .apexcharts-menu-item,
.apexcharts-toolbar svg {
    color: #fff !important;
}